<form method="POST" action="<%= url %>?_method=DELETE"> <!-- VERY IMPORTANT, GOOGLE CHECKS EVERY LINK AND ROUTE, SO WE NEED TO FAKE THIS ONE, WE USE _METHOD FROM A PACKAGE, ?_method WILL WORK ON THE SERVER AS A SUBSTITUTE-->
    <button type="submit">Delete</button>
</form>